{% extends "base.html" %}

{% block content %}
<h2 style="text-align: center;">Create a new image</h2>
    <form method="post" action="{% url 'create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered table-striped" style="width: 50%; margin: auto;">
        {% for field in form %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
            </tr>
        {% endfor %}
    </table>
    <div style="text-align: center; margin-top: 10px;">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

{% endblock %}