# dev environment variables for azure storage, database connection, and other items
DEFAULT_FILE_STORAGE_ENV = 'storages.backends.azure_storage.AzureStorage'
AZURE_ACCOUNT_NAME_ENV = 'your-storage-account-name'
AZURE_ACCOUNT_KEY_ENV = 'your-storage-account-key'
AZURE_CONTAINER_ENV = 'your-container-name'

# s3 storage environment variables
#DEFAULT_FILE_STORAGE_ENV = 'storages.backends.s3boto3.S3Boto3Storage'
#AWS_ACCESS_KEY_ID_ENV = 'your-aws-access-key-id'
#AWS_SECRET_ACCESS_KEY_ENV = 'your-aws-secret-access-key'
#AWS_STORAGE_BUCKET_NAME_ENV = 'your-s3-bucket-name'
#AWS_S3_REGION_NAME_ENV = 'your-aws-region'  # e.g., 'us-east-1'
#AWS_S3_CUSTOM_DOMAIN_ENV = '%s.s3.amazonaws.com' % AWS_STORAGE_BUCKET_NAME

# other cloud storage environment variables
#DEFAULT_FILE_STORAGE_ENV = 'storages.backends.gcloud.GoogleCloudStorage'
#GS_PROJECT_ID_ENV = 'your-gcp-project-id'
#GS_BUCKET_NAME_ENV = 'your-gcs-bucket-name'
#GS_AUTO_CREATE_BUCKET_ENV = True

# database environment variables
DBNAME = ...
PGUSER = ...
PGPASS = ...
PGHOST = ...
PGPORT = ...

DJANGO_SECRET_KEY = ...

OPENAI_API_KEY = ...
OPENAI_API_TYPE = openai
